body
{
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.bobeira
{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.inteiro
{
    margin-top: 60px;
    width: 65%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.mouse
{
    margin-left: 40px;
    margin-top: 150px;
    width: 400px;
    height: 300px;
}
.linha1
{
    width: 90%;
    height: 5vh;
    display: flex;
    flex-direction: row;
   
}

.btesc
{
    margin-left: 7px;
    margin-top: 15px;
    width: 70px;
    height: 30px;
    border-radius:  10px ;
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.linha2
{
    margin-top: 12px;
    width: 97%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btg
{
    margin-left: 7px;
    margin-top: 5px;
    width: 60px;
    height: 50px;
    border-radius:  10px ;
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.btback
{
    margin-left: 9px;
    margin-top: 5px;
    width: 100px;
    height: 50px; 
    border-radius: 10px ; 
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.linha3
{
    margin-top: 8px;
    width: 97%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btab
{
    margin-left: 9px;
    margin-top: 5px;
    width: 100px;
    height: 50px; 
    border-radius: 10px ; 
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.linha4
{
    margin-top: 8px;
    width: 97%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btcaps
{
    margin-left: 9px;
    margin-top: 5px;
    width: 115px;
    height: 50px; 
    border-radius: 10px ; 
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.btenter
{
    margin-left: 9px;
    margin-top: 5px;
    width: 115px;
    height: 50px; 
    border-radius: 10px ; 
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}
.linha5
{
    margin-top: 8px;
    width: 97%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btshift
{
    margin-left: 9px;
    margin-top: 5px;
    width: 125px;
    height: 50px; 
    border-radius: 10px ;
    color: rgb(238, 238, 238);
    background-color: rgb(20, 20, 20); 
}
.linha6
{
    margin-top: 8px;
    width: 97%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btcrtl
{ 
    margin-left: 9px;
    margin-top: 5px;
    width: 120px;
    height: 60px; 
    border-radius: 10px ;   
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.btalt
{
    margin-left: 9px;
    margin-top: 5px;
    width: 120px;
    height: 60px; 
    border-radius: 10px ;
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.btspace
{
    margin-left: 9px;
    margin-top: 5px;
    width: 270px;
    height: 60px; 
    border-radius: 10px ;
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.btalt2 
{ 
    margin-left: 7px;
    margin-top: 5px;
    width: 50px;
    height: 60px;
    border-radius:  10px ; 
    color: rgb(238, 238, 238);  
    background-color: rgb(20, 20, 20);
}

.btcrtl2
{
    margin-left: 7px;
    margin-top: 5px;
    width: 50px;
    height: 60px;
    border-radius:  10px ;
    color: rgb(238, 238, 238); 
    background-color: rgb(20, 20, 20);
}

.setas
{
   /* background-color: black;*/
    margin-top: 5px;
    width: 250px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    
}

.seta1
{
    margin-left: 10px;
   /* background-color: aliceblue; */
    width: 65px;
    height: 6vh;
    display: flex;
    justify-content: center;
    justify-items: center; 
}

.bts1 
{
    margin-left: 7px;
    margin-top: 11px;
    width: 70px;
    height: 40px;
    border-radius:  10px ;   
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

.seta23
{
    margin-top: 5px;
    margin-left: 10px;
 /*   background-color: rgb(253, 253, 253);*/
    width: 75px;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; 
}

.bts23
{  
    margin-top: 2px;
    width: 80px;
    height: 50px;
    border-radius:  10px ; 
    background-color: rgb(20, 20, 20); 
    color: aliceblue;
}

.seta4
{
    margin-left: 10px;
  /*  background-color: aliceblue;*/
    width: 65px;
    height: 6vh;
    display: flex;
    justify-content: center;
    justify-items: center; 
}

.bts4
{
    margin-left: 7px;
    margin-top: 11px;
    width: 70px;
    height: 40px;
    border-radius:  10px ;   
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}